.projects {
  margin-top: 4rem;
  background-color: black;
}

.projects img {
  height: 100%;
  width: 100%;
}

.projects h3 {
  text-align: center;
  color: white;
}

.projects a {
  color: white;
}

.project a:hover {
  text-decoration: none;
}

.project {
  border: 2px solid #0b233f;
  border-radius: 10px;
  border-width: 5px;
  margin-top: 1rem;
}

.project-title {
  font-size: 1.5rem;
}

.project:hover {
  border: 2px solid white;
  border-radius: 10px;
  border-width: 5px;
}

.project-iframe-snake {
  margin-top: 45px;
  width: 100%;
  background-color: black;
}

.project-iframe-fortunes {
  margin-top: 5px;
  width: 100%;
  background-color: black;
}

.project-iframe-allwork-noplay   {
  margin-top: 5px;
  width: 100%;
  background-color: black;
}

.project-iframe-nba-history  {
  margin-top: 5px;
  width: 100%;
  background-color: black;
}

a .back-button {
  margin-top: 64px;
  height: 50px;
}

iframe {
  border-width: 0px;
}
