body {
  background-color: #F0F0F0;
  margin-left: 0px;
  margin-right: 0px;
  /*width: calc(80% - 30px);*/
}
h1, h2, p, ul, li {
  font-family: Georgia;
}

a { 
  color: black;
  text-decoration: none;
}

.header {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: black;
  opacity: .75;
}

.header-flex-container {
  display: flex;
  width: 50%;
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: space-between;
}

.app-title {
  display: flex;
  padding-top: 12px;
  top: 0;
  left: 0;
}

.app-title img {
  width:50px;
  height:37.95px;
}

.app-title h1 {
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: white;
  display: inline-block;
}

ul.nav-bar {
  margin: 0px;
  padding: 0px;
  align-content: right;
  display: flex;
  padding-top: 9px;
}

ul.nav-bar a li{
  color: white;
  text-decoration: none;
  margin: 0 0 6px 0;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 12px;
  display: inline-block;
  text-align: left;
  list-style-type: none;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

ul.nav-bar a.active li {
  color: #4A86E8
}

ul.nav-bar a li:hover {
  color: #A9A9A9
}

ul.nav-bar a.active li:hover {
  color: #4A86E8
}

.app-body {
  display: flex;
  margin-top: 60px;
}

.content {
  background-color: #white;
  margin-left: 185px;
  padding: 5px;
  display: inline-block;
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-left: 30px;
  padding-right: 30px;
  display: block;
  padding-top: 60px;
}
/*.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}*/

