.technical-skills ul {
  list-style-type: none;
  display: flex;
  margin-bottom: 8px
}

.technical-skills ul li {
	font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial,sans-serif";

}