.card {
    margin: 5px;
    border-radius: 25px;
}
.card .card-img {
    height: 80px;
    width: 80px;
}

.card-header {
    display: flex;
    border-radius: 25px;
}

.card-footer{
    height: 30px;
    border-radius: 25px;
}
.card-header h1 {
    margin: 2px;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 1.3rem;
    margin-top: 1.3rem;
}